:root {
    --primary-dark: #00003C;
    --primary-blue: #0061FF;
    --primary-white: #FFFFFF;
    --placeholder: #9999B1;
    --border-unfocused: #CCDFFF;
    --border-focused: #00E4CA;
    --button-disabled: #99C0FF;
    --secondary-blueberry: #4649D0;
    --primary-red: #FF0050;
    --invalid-red: #B30038;
    --invalid-background:#FFF2F6;
    --modes-background:#F2F7FF;
}
