<link rel="stylesheet" href="./typography.css">

<h2 class="heading-h2">Page heading (h2)</h2>
<h3 class="heading-h3">Enter details (h3)</h3>
<button class="heading-h5">Button text</button>
<input class="input heading-h5" value="Input value" />
<input class="input heading-h5" placeholder="Input and Search placeholder" />
<p class="input-label">Input label</p>
<table>
    <thead class="heading-h5">
        <tr>
            <th>Table column header</th>
        </tr>
    </thead>
    <tbody class="table-data">
        <tr>
            <td>Table data</td>
        </tr>
    </tbody>
</table>