@import '../typography/typography.css';
@import '../input/input.css';
@import '../button/button.css';

* {
    box-sizing: border-box;
    padding:5px;
    margin: 10px;
    text-align: center;  
  }
  
  .registerForm {
    max-width: 340px;
    padding: 15px;
    margin: 20px auto;
    border: 1px solid var(--border-unfocused);
    border-radius: 8px;
    background: var(--primary-white);
  }
  .icon {
    padding: 10px;
    background: var(--primary-white);
    color: var(--primary-blue);
    min-width: 50px;
    text-align: center;
    border-radius: 5px;
  }

.input {
    text-align: left;
  }
button {
    text-align: center; 
    margin: 0 auto;
  }
  .checkbox {
    text-align: left;
    padding-top:0%;
    margin-top: 0%;  
  }
  .inputCheckbox {
    text-align: left;
    padding-left:0%;
    margin-left:0%;
    margin-right: 0%;
  }
  
  .labelShowPassword{
    padding-left:2%;
    margin-left:0%;
  }
  .messageInfo {
    color: var(--primary-red);
    font-size: 10px;
    line-height:3px;
    display:none;
  }
  
