@import '../typography/typography.css';
@import '../typography/color.css';

.p{
    font-size: 20px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: justify;
   
}
 .TermsFeed {
    display: block;
    width: 920px;
    margin-left: 260px;
    margin-top: 80px;
 }