@import "../typography/typography.css";
@import "../typography/color.css";

.search-form {
    left: 6px;
    top: 8px;
    display: inline-block;
    position: relative;
}

.search-form-input {
    width: 318px;
    height: 48px;
    line-height: 28px;
    margin: 10px;
    padding: 10px 32px 10px 16px;
    border: 1px solid var(--border-unfocused);
    padding-top: 7px;
    padding-bottom: 8px;
    border-radius: 8px;
    background-color: var(--primary-white);
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}

.search-form-input:hover {
    border: 3px solid var(--border-focused);
}

.search-form-input::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

.search-form-btn {
    position: relative;
    right: 45px;
    top: 5px;
    width: 21px;
    height: 21px;
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 2px;
    background-color: transparent;
    text-align: center;
    cursor: pointer;
}

svg path {
    stroke: inherit;
    stroke-width: inherit;
}
