<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Search</title>
  <link rel="stylesheet" href="./search.css">

</head>
<body>
<!-- partial:index.partial.html -->
<form action="" class="search-form" method="GET" >
  <input type="search" id="search1" class="search-form-input" placeholder="Search" />
  <button type="submit" id-"btn1" class="search-form-btn">
 <svg class="icon" focusable="false" viewBox="0 0 24 24">
     <path d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z" style="fill:#0044B3;"></path></svg>
  </button>
</form>
<!-- partial -->
  
</body>
</html>
