<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="selectors.css" />
  </head>

  <body>
    <div class="select-container">
      <div class="select-group">
        <div class="select-block">
          <label for="select-block" class="select-label input-label"
            >Label</label
          >
          <button class="select-button"></button>
          <input
            type="text"
            name="selected-reminder"
            value=""
            class="dropdown-input"
            placeholder="Select"
            disabled
          />
        </div>
        <ul class="select-options">
          <li class="select-option-item">After</li>
          <li class="select-option-item">Each</li>
        </ul>
      </div>

      <div class="select-group">
        <div class="select-block">
          <label for="select-block" class="select-label input-label"
            >Label</label
          >
          <button class="select-button"></button>
          <input
            type="text"
            name="selected-reminder"
            value=""
            class="dropdown-input"
            placeholder="Select"
            disabled
          />
        </div>
        <ul class="select-options">
          <li class="select-option-item">1</li>
          <li class="select-option-item">2</li>
          <li class="select-option-item">3</li>
          <li class="select-option-item">4</li>
          <li class="select-option-item">5</li>
          <li class="select-option-item">6</li>
          <li class="select-option-item">7</li>
          <li class="select-option-item">8</li>
          <li class="select-option-item">9</li>
          <li class="select-option-item">10</li>
        </ul>
      </div>

      <div class="select-group">
        <div class="select-block">
          <label for="select-block" class="select-label input-label"
            >Label</label
          >
          <button class="select-button"></button>
          <input
            type="text"
            name="selected-reminder"
            value=""
            class="dropdown-input"
            placeholder="Select"
            disabled
          />
        </div>
        <ul class="select-options">
          <li class="select-option-item">Day</li>
          <li class="select-option-item">Week</li>
          <li class="select-option-item">Month</li>
          <li class="select-option-item">Year</li>
        </ul>
      </div>
    </div>

    <script src="selectors.mjs"></script>
  </body>
</html>