@import "../components.css";

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    display: flex;
}

.container {
    justify-content: center;
    margin: auto;
}

.formContainer {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newPassword {
    border: 1px solid var(--border-unfocused);
    border-radius: 8px;
    background: var(--primary-white);
}

.checkbox {
    display: flex;
    justify-content: center;
}

.buttonContainer {
    margin: 15px;
}