@import '../button/button.css';

.filter-btn {
   box-sizing: border-box;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 10px 16px;
   position: absolute;
   width: 77px;
   height: 48px;
   right: 260px;
   top: 182px;
   flex: none;
   order: 0;
   flex-grow: 0;
   }