<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="sortSelect.css" />
  </head>

  <body>
    <div class="sort__select">
      <select class="heading-h5 select" name="sort" id="sort-select">
        <option class="input-label" value="">--Please Sort by--</option>
        <option value="0">Create Date</option>
        <option value="1">What</option>
        <option value="2">Who</option>
        <option value="3">How much</option>
        <option value="4">Due date</option>
      </select>
    </div>
    <script src="sortSelect.mjs" type="module"></script>
  </body>
</html>
