<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="sortSelect.css" />
  </head>

  <body>
    <form class="sort__select">
      <select class="heading-h5" name="sort" id="sort-select">
        <option class="input-label" value="">--Please Sort by--</option>
        <option value="date">Create Date</option>
        <option value="name">What</option>
        <option value="debtor">Who</option>
        <option value="amout">How much</option>
        <option value="dueDate">Due date</option>
      </select>
    </form>
    <script src="sortSelect.mjs"></script>
  </body>
</html>
