<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="./table.css">
	</head>
	<body>
		<table class="table-refund">
		    <thead>
				<tr>
					<td class="table-cell-head"> 
						<h5 class="heading-h5"> Created </h5>
					</td>
					<td class="table-cell-head"> 
						<h5 class="heading-h5"> What </h5>
					</td>
					<td class="table-cell-head"> 
						<h5 class="heading-h5"> Who </h5>
					</td>
					<td class="table-cell-head"> 
						<h5 class="heading-h5"> How much </h5>
					</td>
					<td class="table-cell-head"> 
						<h5 class="heading-h5"> Due date </h5>
					</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="table-cell"> 
						<div class="table-data"> </div>
					</td>
					<td class="table-cell"> 
						<div class="table-data"> </div>
					</td>
					<td class="table-cell"> 
						<div class="table-data"> </div>
					</td>
					<td class="table-cell">
						<div class="table-data"> </div>
					</td>
					<td class="table-cell">
						<div class="table-data"> </div>
					</td>
				<tr/>	
				<tr>
					<td class="table-cell"> 
						<div class="table-data"> </div>
					</td>
					<td class="table-cell"> 
						<div class="table-data"> </div>
					</td>
					<td class="table-cell"> 
						<div class="table-data"> </div>
					</td>
					<td class="table-cell">
						<div class="table-data"> </div>
					</td>
					<td class="table-cell">
						<div class="table-data"> </div>
					</td>
				<tr/>	
				<tr>
					<td class="table-cell"> 
						<div class="table-data"> </div>
					</td>
					<td class="table-cell"> 
						<div class="table-data"> </div>
					</td>
					<td class="table-cell"> 
						<div class="table-data"> </div>
					</td>
					<td class="table-cell">
						<div class="table-data"> </div>
					</td>
					<td class="table-cell">
						<div class="table-data"> </div>
					</td>
				<tr/>		
			</tbody>
		</table>
	</body>
</html>