<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="./table.css">
	</head>
	<body>
		<table class="table-black-and-white">
		    <thead>
				<tr>
					<td class="table-cell-head"> Created </td>
					<td class="table-cell-head"> What </td>
					<td class="table-cell-head"> Who </td>
					<td class="table-cell-head"> How much </td>
					<td class="table-cell-head"> Due date </td>
				</tr>
				<tr
			</thead>
			<tbody>
				<tr>
					<td class="table-cell"> </td>
					<td class="table-cell"> </td>
					<td class="table-cell"> </td>
					<td class="table-cell"> </td>
					<td class="table-cell"> </td>
				<tr/>	
				<tr>
					<td class="table-cell"> </td>
					<td class="table-cell"> </td>
					<td class="table-cell"> </td>
					<td class="table-cell"> </td>
					<td class="table-cell"> </td>
				<tr/>	
				<tr>
					<td class="table-cell"> </td>
					<td class="table-cell"> </td>
					<td class="table-cell"> </td>
					<td class="table-cell"> </td>
					<td class="table-cell"> </td>
				<tr/>	
			</tbody>
		</table>
	</body>
</html>