<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="./table.css">
	</head>
	<body>
		<table class="table-refund">
		    <thead id="thead">
				<tr>
					<td class="table-1cell-head">
						<h5 class="heading-h5"> Created </h5>
					</td>
					<td class="table-cell-head"> 
						<h5 class="heading-h5"> What </h5>
					</td>
					<td class="table-cell-head"> 
						<h5 class="heading-h5"> Who </h5>
					</td>
					<td class="table-cell-head"> 
						<h5 class="heading-h5"> How much </h5>
					</td>
					<td class="table-cell-head"> 
						<h5 class="heading-h5"> Due date </h5>
					</td>
				</tr>
			</thead>
			<tbody id="tbody">
			</tbody>
		</table>
	</body>
	<script src="./index.js" type="module" ></script>
</html>