<link rel="stylesheet" href="datepicker.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
<title>Data picker</title>
</head>
<body>
  <div class="datepicker">
    <button name="buttonSubmit" id="buttonSubmitId" class="datepicker-button" ></button> 
        <label class=" input-label datepicker-label" for="DuedateId">
      Due date
      <br />
      <input class="datepicker-input heading-h5" name="Duedate" id="DuedateId" type="text" maxlength="10" readonly />
    </label>
    <div class="datepicker-calendar" id="myCalendar" name="calendarName" hidden>
      <div class="datepicker-month">
        <i class="fas fa-angle-left prev"></i>
        <div class="datepicker-date">
          <h1 class="heading-h5"></h1>
        </div>
        <i class="fas fa-angle-right next"></i>
      </div>
      <div class="datepicker-line"></div>
      <div class="datepicker-weekdays input-label">
        
        <div>Mo</div>
        <div>Tu</div>
        <div>We</div>
        <div>Th</div>
        <div>Fr</div>
        <div>Sa</div>
        <div>Su</div>
      </div>
      <div class="datepicker-days table-data"></div>
    </div>
  </div>
    <script  src="./datepicker.mjs" type="module"></script>
</body>

</html>