@import "./button/button.css";
@import "./input/input.css";
@import "./typography/typography.css";
@import "./typography/color.css"


label {
  display: block;
  cursor: pointer;
}

.checkbox { 
  display: none;
}

.checkbox-new { 
   display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid #0044B3;
  vertical-align: middle;
  margin-top: -2px;
  margin-right: 4px;
}

.checkbox:checked + .checkbox-new {
   background: #0044B3;
}

.checkbox-new:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .checkbox-new:after {
    display: block;
}

.container .checkbox-new:after {
  left: 15px;
    top: 9px;
    width: 6px;
    height: 11px;
    border: solid #fff;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}
