@import "../typography/typography.css";
@import "../typography/color.css";
@import "../typography/zIndex.css";

.container {
  display: flex;
  gap: 0 20px;
}

h1 {
  margin-bottom: 30px;
}

h2 {
  color: #847e7e;
  margin-top: 100px;
}
