<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">		
	<link rel="stylesheet" href="./homePage.css">
	<title>Refund tracker</title>
	</head>
	<body>
		<div class="dv1">
		<div class="title-refund-tracker">
            <h2 class="heading-h2">Refund tracker</h2>
		    
                    </div>
                    <div class="section_serch">
                        <button class="button primary heading-h5" id="buttonPrimary">Create refund</button>				<form action="" class="search-form" method="GET" >
					<input type="search" id="search1" class="search-form-input" placeholder="Search" />
					<button type="submit" id="btn1" class="search-form-btn" placeholder="">
						<svg focusable="false" viewBox="0 0 16 16"><path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" style="fill:#0044B3;"></path></svg>
					</button>
				</form>
           
          
					<select class="heading-h5 sort-select" name="sort" id="sort-select">
						<option class="imput-label" value="">--Please Sort by--</option>
						<option class="options-label" value="0">Create Date</option>
						<option class="options-label" value="1">What</option>
						<option class="options-label" value="2">Who</option>
						<option class="options-label" value="3">How much</option>
						<option class="options-label" value="4">Due date</option>
					</select>
                </div>
                </div>
                <div class="container__refund">
				<table class="table-refund">
		    <thead id="thead">
				<tr>
					<td class="table-1cell-head">
						<h5 class="heading-h5"> Created </h5>
					</td>
					<td class="table-cell-head"> 
						<h5 class="heading-h5"> What </h5>
					</td>
					<td class="table-cell-head"> 
						<h5 class="heading-h5"> Who </h5>
					</td>
					<td class="table-cell-head"> 
						<h5 class="heading-h5"> How much </h5>
					</td>
					<td class="table-cell-head"> 
						<h5 class="heading-h5"> Due date </h5>
					</td>
				</tr>
			</thead>
			<tbody id="tbody">
				<tr>
					<td class="table-cell">
                    </div>
						        <label class="checkbox-label">
                                <input class="checkbox" type="checkbox"/>
                                <span class="checkbox-new"></span> 
                            </label>
							<span class="table-data"> 12.12.2022 </span>
						</span>
					</td>
					<td class="table-cell"> 
						<div class="table-data"> Bag </div>
					</td>
					<td class="table-cell"> 
						<div class="table-data"> Gucci </div>
					</td>
					<td class="table-cell">
						<div class="table-data"> 100 </div>
					</td>
					<td class="table-cell">
						<div class="table-data"> 20.12.2022 </div>
					</td>
				</tr>
			</tbody>
		</table>
	<!--</body>-->
	<div class="footer">
		<a href="https://css.sammy-codes.com/credits.html">Terms & Conditions</a>
	</div>
</div>
	</body>
	<script src="../sortSelect/sortSelect.mjs" type="module"></script>
    <script src="../../src/homePage.mjs" type="module"></script>
</html>