<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Input</title>
  <link rel="stylesheet" href="./input.css">
  

</head>
<body>

<div id ="inputText" class= "fieldset" > 
  <fieldset id= "fieldName">
<div id='' class="label">
                    <label class="input-label" for="text1">What to refund:</label>
                </div>
                <div id=''class="input">         
             <input 
                    class="input heading-h5"
                    id = "text1" 
                    type="text" 
                    name="textBox"  
                    minlength="5" 
                    maxlength="30"
                    placeholder="Text"
                    size="30" 
                    required>
                  
</div>
  </fieldset>
</div>

<div id ="inputNumber" class= "numberInput" > 
   <fieldset id= "fieldNumber">
<div id=''class="label">
                    <label class="input-label" for="number1">Amount:</label>
                </div> 
<div id='' class="input">
                <input 
                    class="input heading-h5"
                     id = "number1"   
                     type="number" 
                     name="nameOfInput" 
                     min="0" 
                     max="99000" 
                     value=""
                     step=".01"
                     placeholder="Number"
                     required  >
                </div>
     </fieldset>
 </div>
  
</body>
</html>
