@import "./button/button.css";
@import "./input/input.css";
@import '../typography/typography.css';
@import '../typography/color.css';


.search-form {
    display: inline-block;
    position: relative;
  }
  
  .search-form-input {
    width: 100%;
    height: 32px;
    line-height: 28px;
    margin: 0;
    padding: 10px 16px 10px 16px;
    border: 1px solid #DFDFDF;
      border-top: 1px solid #b3b3b3; 
      padding-top: 7px;
      padding-bottom: 8px;
    border-radius: 7px;
    background-color: white;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Tahoma, sans-serif;
    font-size: 13px;
    outline: none;
  }
  
  .search-form-input:focus {
   border: 2px solid #CCDFFF; 
  }
  
  .search-form-btn {
    position: absolute;
    right: 2px; 
    top: 2px;
    width: 28px;
    height: 28px;
    line-height: 28px;
    font-weight: bold;      
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 2px;
    background-color: transparent;
    text-align: center;
    cursor: pointer;
  }
  
  svg path {
      stroke:inherit;
      stroke-width:inherit;
      }
