@import '../typography/typography.css';
@import '../typography/color.css';

body {
    width: 1440px;
    height: 900px;
    font-family: IBM Plex Sans;
}

.container {
    height: 86px;
    left: 260px;
    margin-top: 80px; 
}

h2 {
    display: flex;
    align-items: center; 
    width: 920px;
    height: 86px;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 186px;
    margin-top: 16px;
    box-sizing: border-box;
}

.input-block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 920px;
    height: 152px;
    border: 1px solid red;
}

.container2 {
    width: 450px;
    display: flex;
    flex-direction: column;
    border: 2px solid red;
    margin-right: 20px;
}
.container3 {
    width: 920px;
    display: flex;
    flex-direction: row;
    border: 2px solid green;
    justify-items: legacy;
}

h3 {
    padding-top: 40px;
    margin-bottom: 24px;
    display: block;
    width: 920px;
}

/* .refund {
    width: 100%;
    max-width: 448px;
} */

/* .input-fieldset,
.input-fieldset:disabled,
.input-fieldset:has(input:disabled):valid {
    width: 100%;
    max-width: 448px;
} */

