@import '../typography/typography.css';
@import '../typography/color.css';

/* .heading-h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 0em;
    color: var(--primary-dark);
} */

h3 {
    padding-top: 40px;
    margin-bottom: 24px;
    display: block;
    width: 920px;

}

body {
    width: 1440px;
    height: 900px;
    font-family: IBM Plex Sans;
    /* margin-left: 260px;
    margin-top: 80px; */
}

.container {
    height: 86px;
    left: 260px;
    margin-top: 80px; 
}

h2 {
    display: flex;
    align-items: center; 
    /* align-content: space-between; */
    /* justify-content: center; */
    width: 920px;
    height: 86px;
    /* font-weight: 600;
    font-size: 34px;
    line-height: 44px;
    color: var(--primary-dark); */
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 186px;
    margin-top: 16px;
    /* gap: 30px; */
    /* padding-top: 16px;
    font-size: 18px;
    font-family: inherit; */
}

/* a {
    text-decoration: none;
    color: var(--primary-blue);
    padding: 10px 16px;
    text-align: center;
    border-radius: 8px;
    border: 1px solid var(--primary-blue);
    margin-right: 12px;
} */

/* .heading-h5 {
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0em;
} */

/* .prim {
    background-color: var(--button-disabled);
    color: var(--primary-white);
    border-radius: 8px;
    text-align: center;
    padding: 10px 16px;
    border: none;
    margin-left: 12px;
} */

.details-grid {
    width: 920px;
    height: 152px;
    display: grid;
    margin-top: 24px;
    gap: 24px;
    grid-template: 1fr 1fr / 1fr 1fr;
}

.detail-box {
    width: 448px;
    height: 64px;
    border-radius: 8px;
}

input[type="text"],
input[type="number"],
input[type="date"] {
    border: 1px solid var(--border-unfocused);
    border-radius: 8px;
    width: 448px;
    height: 64px;
    padding: 28px 398px 8px 16px;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="date"]:focus {
    border: 3px solid var(--border-focused);
    outline: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    width: 290px;
    height: 64px;
    appearance: none;
    background-color: var(--primary-white);
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18 12.5C18 13.3284 17.3284 14 16.5 14C15.6716 14 15 13.3284 15 12.5C15 11.6716 15.6716 11 16.5 11C17.3284 11 18 11.6716 18 12.5Z' fill='%230061FF'/%3E%3Cpath d='M21.5 14C22.3284 14 23 13.3284 23 12.5C23 11.6716 22.3284 11 21.5 11C20.6716 11 20 11.6716 20 12.5C20 13.3284 20.6716 14 21.5 14Z' fill='%230061FF'/%3E%3Cpath d='M18 17.5C18 18.3284 17.3284 19 16.5 19C15.6716 19 15 18.3284 15 17.5C15 16.6716 15.6716 16 16.5 16C17.3284 16 18 16.6716 18 17.5Z' fill='%230061FF'/%3E%3Cpath d='M21.5 19C22.3284 19 23 18.3284 23 17.5C23 16.6716 22.3284 16 21.5 16C20.6716 16 20 16.6716 20 17.5C20 18.3284 20.6716 19 21.5 19Z' fill='%230061FF'/%3E%3Cpath d='M8 17.5C8 18.3284 7.32843 19 6.5 19C5.67157 19 5 18.3284 5 17.5C5 16.6716 5.67157 16 6.5 16C7.32843 16 8 16.6716 8 17.5Z' fill='%230061FF'/%3E%3Cpath d='M11.5 19C12.3284 19 13 18.3284 13 17.5C13 16.6716 12.3284 16 11.5 16C10.6716 16 10 16.6716 10 17.5C10 18.3284 10.6716 19 11.5 19Z' fill='%230061FF'/%3E%3Cpath d='M8 22.5C8 23.3284 7.32843 24 6.5 24C5.67157 24 5 23.3284 5 22.5C5 21.6716 5.67157 21 6.5 21C7.32843 21 8 21.6716 8 22.5Z' fill='%230061FF'/%3E%3Cpath d='M11.5 24C12.3284 24 13 23.3284 13 22.5C13 21.6716 12.3284 21 11.5 21C10.6716 21 10 21.6716 10 22.5C10 23.3284 10.6716 24 11.5 24Z' fill='%230061FF'/%3E%3Cpath d='M18 22.5C18 23.3284 17.3284 24 16.5 24C15.6716 24 15 23.3284 15 22.5C15 21.6716 15.6716 21 16.5 21C17.3284 21 18 21.6716 18 22.5Z' fill='%230061FF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6 0.25C6.41421 0.25 6.75 0.585786 6.75 1V2H21.25V1C21.25 0.585786 21.5858 0.25 22 0.25C22.4142 0.25 22.75 0.585786 22.75 1V2H24C26.2091 2 28 3.79086 28 6V24C28 26.2091 26.2091 28 24 28H4C1.79086 28 0 26.2091 0 24V6C0 3.79086 1.79086 2 4 2H5.25V1C5.25 0.585786 5.58579 0.25 6 0.25ZM2 6C2 4.89543 2.89543 4 4 4H24C25.1046 4 26 4.89543 26 6V7H2V6ZM2 9V24C2 25.1046 2.89543 26 4 26H24C25.1046 26 26 25.1046 26 24V9H2Z' fill='%230061FF'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: right;
    outline: 0;
}

select {
    width: 290px;
    height: 64px;
    border: var(--border-unfocused) 1px solid;
    border-radius: 8px;
    appearance: none;
    background-color: var(--primary-white);
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='12' viewBox='0 0 20 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.292893 0.792893C0.683417 0.402369 1.31658 0.402369 1.70711 0.792893L10 9.08579L18.2929 0.792893C18.6834 0.402369 19.3166 0.402369 19.7071 0.792893C20.0976 1.18342 20.0976 1.81658 19.7071 2.20711L10.7071 11.2071C10.3166 11.5976 9.68342 11.5976 9.29289 11.2071L0.292893 2.20711C-0.0976311 1.81658 -0.0976311 1.18342 0.292893 0.792893Z' fill='%230061FF'/%3e%3c/svg%3e ");
    background-repeat: no-repeat;
    background-position: right center;
    outline: 0;
}

select:focus {
    border: 3px solid var(--border-focused);
    outline: none;
}

label {
    width: 36px;
    height: 16px;
    font-size: 14px;
    line-height: 16px;
    color: var(--primary-blue);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;
    left: 16px;
    top: 8px;
}

.setReminder {
    margin-top: 16px;
    display: flex;
    grid: repeat (1, 1fr)/repeat (3, 1fr);
    padding: 0px;
    gap: 24px;
    width: 918px;
    height: 64px;
}

.sel1 {
    grid-area: 1/1/2/2;
}

.sel2 {
    grid-area: 1/2/2/3;
}

.sel3 {
    grid-area: 1/3/2/4;
}