<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Refund creation</title>
  <link rel="stylesheet" href="./RefundCreation.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
</head>

<body>
  <div class="container">
    <!-- Refund creation section -->
    <h2>Refund creation</h2>
    <div class="buttons">
      <a href="/">Back</a>
      <button class="primary" type="submit">Create</button>
    </div>
    <!-- Enter details section -->
    <h3 class="heading-h3">Enter details</h3>
    <div class="details-grid">
      <div class="field1 detail-box">
        <!-- <label for="What to refinde">What to refinde:</label> -->
        <input type="text" id="name" name="name" required placeholder="Text" />
      </div>
      <div class="field2 detail-box">
        <!-- <label for="amount">Expected money amount:</label> -->
        <input type="number" id="money" name="money" required min="0.01" placeholder="Number" />
      </div>
      <div class="field3 detail-box">
        <!-- <label for="Who refindes">Who refindes:</label> -->
        <input type="text" id="who" name="company" required placeholder="Text" />
      </div>
      <div class="field4 detail-box">
        <!-- <label for="start">Due date:</label> -->
        <input type="date" id="start" name="date-start" max="2055-12-31" placeholder="Select date" />
      </div>
    </div>
    <!-- Set reminder section -->
    <h3 class="heading-h3">Set reminder (optional)</h3>
    <div class="container3">
      <div class="select sel1">
        <select name="select1" id="select1Id" required style="width: 290px">
          <option></option>
          <option>
            <h5>After</h5>
          </option>After</option>
          <option>Each</option>
        </select>
      </div>
      <div class="select sel2">
        <select name="select2" id="select2Id" required>
          <option></option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
          <option>7</option>
        </select>
      </div>
      <div class="select sel3">
        <select name="select3" id="select3Id" required style="width: 290px">
          <option></option>
          <option>Days</option>
          <option>Weeks</option>
        </select>
      </div>
    </div>
  </div>
</body>

</html>